@import "../root.scss";

.usersettings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3%;

  &__formdiv {
    width: 30%;
    min-height: 280px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 50px;
    margin-right: 80px;

    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &--langchange,
      &--themechange {
        flex-direction: row;
      }

      input {
        @include input;
      }
    }
  }
}
