.sidemenu {
  width: auto;
  height: 100%;
  position: absolute;
  left: -185px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  background-color: rgb(80, 80, 134);
  transition: all 0.5s;

  &--shown {
    @extend .sidemenu;
    left: 0;
  }
}

.togglemenu {
    width: 25px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    left: 190px;
  background-color: red;
}
